/* Mobile First */

.header-section {
  width: 100%;
  height: 80px;
  /* border: 1px solid white; */
  /* padding: 10px; */
  
  display: flex;
  flex-direction: row;
  /*alinha no sentido da direção*/
  justify-content: center;
  /*alinha no sentido contrário da direção*/
  align-items: center;

}

.header-seciton__title {
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 3px solid #60A771;
}
/* main */
.body-section {
  width: 100%;
  /* height: calc(100vh - 110px); */
  /* border: 3px solid salmon; */
}

.cad-task {
  width: 100%;
  /* height: 120px; */
  padding: 20px;

  /* border: 1px solid salmon; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card-task__entry {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #898787;
}

.card-task__entry::placeholder {
  color: #cecece;
}

/* botão */
.card-task__btn-confirm {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #60A771;
  outline: none;
  color: white;
  background-color: #60A771;
}

/* lista de tarefas */
.cardlist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px;
  /* border: 2px solid white; */
}

/* card da tarefa */
.cardtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #31364D;
  height: 70px;
  padding: 0 15px;
  font-size: 13px;
  border-radius: 10px;
}

/* ícones - div */
.cardtask__icon-box{
  width: 80px;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* div */
.cardlist__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

/* primeira div */
.cardlist__icon:first-of-type {
  border: 1px solid #9BB8ED;
}
/* primeira div */
.cardlist__icon:last-of-type {
  border: 1px solid #D46E75;
}

/* 
  #9BB8ED 
  #D46E75
*/



/* footer */
.footer-list {
  width: 100%;
  height: 30px;
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list__right-text {
  
  /* border: 2px solid blueviolet; */
  font-size: 12px;
}